@import '/src/styles.scss';

.homepage {
    .carousel {
        .carousel-item {
            img {
                height: 60vh;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    .featured-cards {
        padding-top: 35px;
        h2 {
            font-size: 28px;
            color: black;
            font-weight: 500;
            padding-bottom: 10px;
        }
    }
    .arrival-cards {
        padding-top: 35px;
        h2 {
            font-size: 28px;
            color: black;
            font-weight: 500;
            padding-bottom: 10px;
        }
    }
    .sale-cards {
        padding-top: 35px;
        h2 {
            font-size: 28px;
            color: black;
            font-weight: 500;
            padding-bottom: 10px;
        }
    }
}